*{
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    font-size: 12px;
}

img,video{
    display: block;
    max-width: 100%;
}


.list-custom{
    text-align: center;
}



ul,ol{
    padding-left: 0;
    list-style-position: inside;
    text-align: center;
}

body{
    background-color: #eddddd;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: center;
}

.container{
    margin-top: 5px;
    border: 2px solid black;
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-row: 1fr;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(235, 204, 163);

}

#top{
    border:1px solid rgb(202, 202, 252);
    border-radius: 10px;
    margin-bottom:  10px;
    padding: 2px;
    margin: 10px;
    background-color: rgb(202, 202, 252);
}

#top>h1{
    font-size: 3rem;
    
    font-weight: 400;
    text-decoration: wavy;
    text-decoration-line:underline;
}

div{
    border-radius: 20px;
}

#top{
    text-align: center;
}

.headings{
    padding: 10px;
    border: 2px solid black;

}

.headings>div>h1,h2,h3,h4,h5,h6{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

#row1,#row2,#row6,#row7{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 5px;
}

#row3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 5px; 
}

#row4,#row5,#row8{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 5px;
}

#row9{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    padding: 5px;
}

#box1,#box2,#box3,#box4,#box5{
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(134, 131, 131);
}


/* #row1{
    background-color: rgb(203, 143, 255);
}

#row2{
    background-color: rgb(212, 246, 165);
}

#row3{
    background-color: rgb(136, 255, 202);
}

#row4{
    background-color: rgb(109, 218, 255);
}

#row5{
    background-color: rgb(255, 143, 154);
}

#row6{
    background-color: rgb(143, 154, 255);
}
#row7{
    background-color: rgb(249, 166, 98);
}
#row8{
    background-color: rgb(203, 143, 255);
} */