*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
}

body{
    width: 100vw;
    height: 100vh;
}


.flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

/* .box1{
    width: 500px;
    height: 200px;
}

.box2{
    width: 500px;
    height: 200px;
}

.box3{
    width: 500px;
    height: 200px;
}

.box4{
   
    width: 500px;
    height: 200px;
} */

