*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.flex{
    display: flex;
    flex: 1;
    height: 100vh;

    div{
        padding: 20px;
        width: 100%;
    }
}

a{
    padding: 20px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

p{
    margin: 10px;
    padding: 10px;
}

.box1{
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.box2{
    display: flex;
    align-items: center;
}


.box3{
    background-color: blue;
    display: flex;
    align-items: center;
}


.content{
    background-color: black;
    color: red;
    margin: 10px;
    display: flex;
    justify-content: center;
}