*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(238, 67, 67);
    font-weight: 700;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



main{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.row1,.row2,.row3{
    flex: 1;
    border: 2px solid black;
    display: flex;
}


.box1,.box2,.box3{
    width: 100%;
    border: 2px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inner-row{
    display: flex;
    flex: 1;
}

.point{
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}





